<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.morrisgram">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.Option" />
        <activity
            android:name=".Activity.LikeAlarm"
            android:launchMode="singleTask" />
        <activity android:name=".Activity.Followers" />
        <activity android:name=".Activity.Following" />
        <activity android:name=".Activity.PosterViewer" />
        <activity
            android:name=".Activity.Followers_AND_Following"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".Activity.Posting" />
        <activity
            android:name=".Activity.MessageWindow"
            android:launchMode="singleTask" />
        <activity
            android:name=".Activity.MessageTerminal"
            android:launchMode="singleTask" />
        <activity
            android:name=".Activity.Search"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Activity.UserProfile"
            android:launchMode="singleTask" />
        <activity
            android:name=".Activity.ProfileModify"
            android:launchMode="singleTask" />
        <activity
            android:name=".Activity.Myinfo"
            android:launchMode="singleTask" />
        <activity
            android:name=".Activity.Home"
            android:launchMode="singleTask" />
        <activity android:name=".Activity.SignUp" />
        <activity
            android:name=".Activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.morrisgram.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application> <!-- camera, gallery -->

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>